#:ignore all checkpoint files
*.ipynb_checkpoints
#ignore all .DS_Store files

*.DS_Store

# but do track lib.a, even though you're ignoring .a files above
#!lib.a
# ignore all files in any directory named pytorch
pytorch/

# ignore all files in any directory named env_sklearn
env_sklearn/

# ignore all files in any directory named env_extraction
env_extraction/

# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
#doc/**/*.pdf
